$lme-navbar-border-top: 2.0px;
.navbar{
  &.navbar--transparent{
    background-color: white !important;
    border-bottom: none;
  }
  &.lme-navbar-default{
    @extend .navbar-default;
    .navbar-brand{
      padding: 0px;
    }
    .lme-collapse-navbar-nav{
      li{
        &.active a{
          background-color: transparent;
          color: $link-color;
          border-top: $lme-navbar-border-top solid $link-color;
        }
        a{
          border-top: $lme-navbar-border-top solid transparent;
          color: $link-color;
          font-family: $font-family-subtitles;
          text-transform: uppercase;
          // font-size: 80%;
        }
        a:hover, a:focus, a:visited, &.active a:hover, &.active a:focus, &.active a:visited{
          color: $link-color-hover !important;
          background-color: #fff;
        }
      }
    }
  }
}
