h1, h2{
  font-family: $font-family-titles;
}

h3, h4, h5{
  font-family: $font-family-subtitles;
}

p{
  margin: 2rem 0;
  letter-spacing: 1px;
}

footer{
  padding: 4rem 0;
  background-color: #eee;
}

// Links

a{
  color: $link-color;
  &:hover, &:focus{
    color: $link-hover-color;
  }
}

// Titles
.lme-title{
  display: inline-block;
  background-color: $primary-color;
  font-family: $font-family-titles;
  text-transform: uppercase;
  padding: 1.0rem 1.8rem 0.6rem 2.8rem;
  color: white;
  border-left: 5px solid $link-color;
}


// Sections
section{
  padding: 4rem 0;
  &.lme-section-b{
    background-color: #f4f4f4;
    padding: 6rem 0;
    h4{
      color: darken($primary-color, 25);
    }
    p{
      color: #555;
    }
  }
}

// Maps
[map-lazy-load]{
  position: relative;
  overflow: hidden;
  .pin, .pulse{
    z-index: 100;
  }
}

// Navigations
.lme-portfolio-pills{
  float: right;
  margin: 20px 10px;
  li{
    margin-right: 2rem;
    a{
      color: $text-color;
      font-weight: bold;
      padding: 5px 15px;
    }
    &.active a{
      background-color: $link-color;
      color: white;
      &:hover, &:focus{
        background-color: $link-color-hover;
      }
    }
  }
}

footer .lme-portfolio-pills{
  @extend .lme-portfolio-pills;
  li{
    margin-right: 0.6rem;
  }
}

@media (max-width: $lg) {
  .lme-portfolio-pills{
    float: none;
    margin: 20px 0px;
  }
}


// Alerts
.alert{
  &.fixed-alert{
    position: relative;
    max-width: $lg;
    left:0;
    right: 0;
    margin: 2rem auto 0px;
  }
}


// Headers
.intro-header{
  position: relative;
  height: 240px;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  background-color: #f4f4f4;
  @include transition(all 1s linear);
  &::after{
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    background-color: transparentize(white, 0.8);
    content: ' ';
  }
  > .container{
    position: relative;
    z-index: 60;
    @include display(flex);
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    width: 100%;
    height: 100%;
    h1{
      font-weight: bold;
      color: white;
      text-shadow: 1px 1px 3px #333;
      font-family: $font-family-subtitles;
    }
  }
}
