$lme-navbar-border-top: 2.0px;
.navbar{
  &.navbar--transparent{
    background-color: transparent !important;
    &:not(.affix){
      border-color: transparent;
    }
  }
  &.lme-navbar-default{
    @extend .navbar-default;
    .navbar-brand{
      padding: 4px 0px;
      img{
        display: none;
      }
    }
    &:not(.affix){
      .navbar-brand{
        img.contrast {
          display: block;
        }
      }
      .lme-collapse-navbar-nav{
        li{
          &.active a{
            background-color: transparent;
            color: white;
            border-top: $lme-navbar-border-top solid white;
          }
          a{
            border-top: $lme-navbar-border-top solid transparent;
            color: white;
            font-family: $font-family-subtitles;
            text-transform: uppercase;
            // font-size: 80%;
          }
          a:hover, a:focus, &.active a:hover, &.active a:focus, &.active a:visited{
            color: darken(white, 5) !important;
            background-color: transparent;
          }
        }
      }
    }
    &.affix{
      background-color: white !important;
      .navbar-brand{
        img.default {
          display: block;
        }
      }
      .lme-collapse-navbar-nav{
        li{
          &.active a{
            background-color: transparent;
            color: $link-color;
            border-top: $lme-navbar-border-top solid $link-color;
          }
          a{
            border-top: $lme-navbar-border-top solid transparent;
            color: $link-color;
            font-family: $font-family-subtitles;
            text-transform: uppercase;
            // font-size: 80%;
          }
          a:hover, a:focus, a:visited, &.active a:hover, &.active a:focus, &.active a:visited{
            color: $link-color-hover !important;
            background-color: #fff;
          }
        }
      }
    }
  }
}


header > .navbar{
  transition: top 0.2s ease-in-out;
}

.nav-up {
  top: -53px;
}

@media (max-width: $sm) {
  header > .navbar{
    @include display(flex);
    @include justify-content(center);
    .navbar-header{
      @include display(flex);
      @include justify-content(center);
    }
    .navbar-nav{
      margin: 2px 0px -2px;
    }
    li{
      @include display(inline-flex);
      @include align-items(center);
      font-size: 8px;
      &.active{
        border-bottom: $lme-navbar-border-top solid $link-color;
      }
      &.active a{
        border-top: none !important;
      }
      a{
        border-top: none !important;
        @include ellipsis(100%);
      }
    }
    .navbar-brand{
      @include display(flex);
      img{
        width: 60px;
        margin-left: 15px;
      }
    }
  }
}

@media (max-width: 369px) {
  header > .navbar{
    li a{
      max-width: 60px !important;
    }
  }
}
