@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
@import url('https://fonts.googleapis.com/css?family=Roboto');


$font-family-titles: 'Josefin Slab', serif;
$font-family-subtitles: 'Open Sans', sans-serif;
$font-family-default: 'Roboto', sans-serif;
